name: test

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "*"

jobs:
  test-native:
    name: Build and Test on native hardware
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - stable
          - beta
          - nightly
          - 1.59.0 # msrv
        config:
          - node: ubuntu-latest
          - node: windows-latest
          - node: macos-latest
    runs-on: ${{ matrix.config.node }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          override: true

      - uses: Swatinem/rust-cache@v2.7.3

      - name: Test Dev
        run: cargo test --all-features --workspace

      - name: Test Release
        run: cargo test --release  --all-features --workspace

  check-cross:
    name: Build and Test for foreign hardware via cross
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - stable
          - beta
          - nightly
          - 1.59.0 # msrv
        config:
          # linux aarch64 incl android
          - node: ubuntu-latest
            arch: aarch64-linux-android
          - node: ubuntu-latest
            arch: aarch64-unknown-linux-gnu
          - node: ubuntu-latest
            arch: aarch64-unknown-linux-musl

          # linux x86
          - node: ubuntu-latest
            arch: x86_64-linux-android
          - node: ubuntu-latest
            arch: x86_64-unknown-linux-gnu
          - node: ubuntu-latest
            arch: x86_64-unknown-linux-musl
          - node: ubuntu-latest
            arch: x86_64-linux-android

          # windows aarch64
          - node: windows-latest
            arch: aarch64-pc-windows-msvc
          - node: windows-latest
            arch: x86_64-pc-windows-msvc

          # apple aarch64
          - node: macos-latest
            arch: aarch64-apple-ios
          - node: macos-latest
            arch: aarch64-apple-ios-sim
          - node: macos-latest
            arch: x86_64-apple-ios
          - node: macos-latest
            arch: aarch64-apple-darwin

    runs-on: ${{ matrix.config.node }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.2

      - uses: docker-practice/actions-setup-docker@master

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install
        run: cargo install cross

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          override: true

      - name: Setup target
        run: rustup target add ${{ matrix.config.arch }}

      - name: Build Dev
        run: cross test --target ${{ matrix.config.arch }} --all-features --workspace  --examples

      - name: Build Relese
        run: cross test --target ${{ matrix.config.arch }} --all-features --release --workspace  --examples
